MAILTO="drift@cyb.no"

*/5 * * * * ~/drift/ifi/check-dropbox.sh 2>&1 | ~/.local/bin/slacktee.sh -u $(hostname) >/dev/null
0 9 * * * ~/drift/ifi/rotate-backups/rotate-backups.sh 2>&1 | ~/.local/bin/slacktee.sh -u $(hostname) >/dev/null
